Node-RED/flows_cubieboard.json
[{"type":"tab","id":"c518d72f.3ae728","label":"Lights & Switches"},{"type":"tab","id":"f0aa4895.0f55b8","label":"Weather"},{"type":"tab","id":"c4b388fe.3b4c78","label":"System"},{"type":"tab","id":"3e758930.c18a76","label":"Computers"},{"type":"tab","id":"8ac42f0a.753bd","label":"BCK"},{"id":"87019d45.78fe6","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"Cubieboard"},{"id":"83e300e8.7c1d","type":"mqtt out","name":"","topic":"home/rfswitch/action","broker":"87019d45.78fe6","x":964.5555648803711,"y":82.88888740539551,"z":"c518d72f.3ae728","wires":[]},{"id":"a548ea4d.5ab718","type":"change","action":"replace","property":"payload","from":"","to":"{\"D\":1393741,\"B\":24}","reg":false,"name":"ON","x":767,"y":61,"z":"c518d72f.3ae728","wires":[["83e300e8.7c1d"]]},{"id":"74a9a651.8b5658","type":"change","action":"replace","property":"payload","from":"","to":"{\"D\":1393777,\"B\":24}","reg":false,"name":"OFF","x":768,"y":115,"z":"c518d72f.3ae728","wires":[["83e300e8.7c1d"]]},{"id":"291c1898.d6e3e8","type":"switch","name":"Light 2 - RF","property":"topic","rules":[{"t":"cont","v":"/action/on"},{"t":"cont","v":"/action/off"}],"checkall":"false","outputs":2,"x":584,"y":85,"z":"c518d72f.3ae728","wires":[["a548ea4d.5ab718"],["74a9a651.8b5658"]]},{"id":"7823f42a.87dc0c","type":"mqtt out","name":"","topic":"","broker":"87019d45.78fe6","x":1126,"y":285,"z":"c518d72f.3ae728","wires":[]},{"id":"45b9d319.ba462c","type":"change","action":"replace","property":"topic","from":"","to":"home/x10/action/L/UNIT_3/ON","reg":false,"name":"ON","x":764,"y":202,"z":"c518d72f.3ae728","wires":[["8b8d798e.747288"]]},{"id":"db982efc.2467d","type":"change","action":"replace","property":"topic","from":"","to":"home/x10/action/L/UNIT_3/OFF","reg":false,"name":"OFF","x":764,"y":252,"z":"c518d72f.3ae728","wires":[["8b8d798e.747288"]]},{"id":"70087c71.8ff784","type":"switch","name":"Light 3 - X10/L3","property":"topic","rules":[{"t":"cont","v":"/action/on"},{"t":"cont","v":"/action/off"}],"checkall":"false","outputs":2,"x":587,"y":226,"z":"c518d72f.3ae728","wires":[["45b9d319.ba462c"],["db982efc.2467d"]]},{"id":"1e266b1b.e1d995","type":"mqtt out","name":"","topic":"weather/home/currently/temperature","broker":"87019d45.78fe6","x":1088.9443969726562,"y":56.999996185302734,"z":"f0aa4895.0f55b8","wires":[]},{"id":"f8c839de.0737c8","type":"mqtt out","name":"","topic":"weather/home/currently/apparenttemperature","broker":"87019d45.78fe6","x":1116.4443969726562,"y":96.99999618530273,"z":"f0aa4895.0f55b8","wires":[]},{"id":"c42fd879.3bd028","type":"mqtt out","name":"","topic":"weather/home/currently/summary","broker":"87019d45.78fe6","x":1079.9443969726562,"y":136.99999618530273,"z":"f0aa4895.0f55b8","wires":[]},{"id":"a42cfa45.5bd308","type":"mqtt out","name":"","topic":"weather/home/currently/icon","broker":"87019d45.78fe6","x":1063.9443969726562,"y":176.99999618530273,"z":"f0aa4895.0f55b8","wires":[]},{"id":"9f5ff069.60a01","type":"comment","name":"Get weather at 5 minute intervals. Send as MQTT messages","info":"","x":236,"y":43,"z":"f0aa4895.0f55b8","wires":[]},{"id":"e9c5383e.163ac8","type":"mqtt in","name":"","topic":"home/light/+/action/#","broker":"87019d45.78fe6","x":107,"y":98,"z":"c518d72f.3ae728","wires":[["2a22755e.d5dd8a"]]},{"id":"2a22755e.d5dd8a","type":"switch","name":"Light ID","property":"topic","rules":[{"t":"cont","v":"home/light/2"},{"t":"cont","v":"home/light/3"},{"t":"cont","v":"home/light/4"}],"checkall":"false","outputs":3,"x":271,"y":98,"z":"c518d72f.3ae728","wires":[["291c1898.d6e3e8"],["70087c71.8ff784"],["ea21e5b9.15de18"]]},{"id":"8beb1660.7414e8","type":"comment","name":"ACTION: Main Light Control","info":"","x":125.88888549804688,"y":46.11111259460449,"z":"c518d72f.3ae728","wires":[]},{"id":"ff265921.00d9a8","type":"switch","name":"Light 1 - Custom","property":"topic","rules":[{"t":"cont","v":"/action/on"},{"t":"cont","v":"/action/off"}],"checkall":"false","outputs":2,"x":558,"y":534,"z":"c518d72f.3ae728","wires":[["72c57442.8d3a8c"],["2690ea45.d96f16"]]},{"id":"49cd5049.b632b","type":"comment","name":"ACTION: ALL Lights","info":"","x":107,"y":530,"z":"c518d72f.3ae728","wires":[]},{"id":"72c57442.8d3a8c","type":"change","action":"replace","property":"payload","from":"","to":"1","reg":false,"name":"ON","x":751,"y":507,"z":"c518d72f.3ae728","wires":[["59511f63.a6aee"]]},{"id":"2690ea45.d96f16","type":"change","action":"replace","property":"payload","from":"","to":"1","reg":false,"name":"OFF","x":751,"y":564,"z":"c518d72f.3ae728","wires":[["82f3025d.7d0d"]]},{"id":"59511f63.a6aee","type":"mqtt out","name":"","topic":"home/light/1/action/on","broker":"87019d45.78fe6","x":938,"y":507,"z":"c518d72f.3ae728","wires":[]},{"id":"82f3025d.7d0d","type":"mqtt out","name":"","topic":"home/light/1/action/off","broker":"87019d45.78fe6","x":939,"y":563,"z":"c518d72f.3ae728","wires":[]},{"id":"1bfa59da.e405a6","type":"delay","name":"Passthru","pauseType":"rate","timeout":"1","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":304,"y":574,"z":"c518d72f.3ae728","wires":[["ff265921.00d9a8","8bf89069.74077","291c1898.d6e3e8"]]},{"id":"3d7752ae.c288ae","type":"comment","name":"STATUS: RF JSON to Topic","info":"","x":139.66667938232422,"y":1331.5555839538574,"z":"c518d72f.3ae728","wires":[]},{"id":"538f1193.ac70f","type":"mqtt in","name":"","topic":"home/rfswitch/status/raw","broker":"87019d45.78fe6","x":130.2777862548828,"y":1384.888916015625,"z":"c518d72f.3ae728","wires":[["996345b7.669cb8"]]},{"id":"775ea6f1.88a158","type":"mqtt out","name":"","topic":"home/light/2/status","broker":"87019d45.78fe6","x":1012.2777862548828,"y":1386.888916015625,"z":"c518d72f.3ae728","wires":[]},{"id":"90378b9b.6fc878","type":"switch","name":"RF Action Switch","property":"payload.D","rules":[{"t":"eq","v":1393741,"v2":0},{"t":"eq","v":1393777,"v2":0}],"checkall":"false","outputs":2,"x":490.2777862548828,"y":1384.888916015625,"z":"c518d72f.3ae728","wires":[["2ec7de8.fd13822"],["b7a272e8.485d9"]]},{"id":"2ec7de8.fd13822","type":"change","action":"replace","property":"payload","from":"","to":"on","reg":false,"name":"ON","x":695.2777862548828,"y":1358.888916015625,"z":"c518d72f.3ae728","wires":[["b06b01a8.4f95"]]},{"id":"b7a272e8.485d9","type":"change","action":"replace","property":"payload","from":"","to":"off","reg":false,"name":"OFF","x":694.2777862548828,"y":1414.888916015625,"z":"c518d72f.3ae728","wires":[["b06b01a8.4f95"]]},{"id":"7ae354d5.851cac","type":"http request","name":"GET Weather","method":"GET","url":"https://api.forecast.io/forecast/{{config.forecastIO_key}}/{{config.forecastIO_location}}","x":418.9443664550781,"y":116.99999237060547,"z":"f0aa4895.0f55b8","wires":[["61afbf66.9e504"]]},{"id":"61afbf66.9e504","type":"json","name":"JSON","x":583,"y":117,"z":"f0aa4895.0f55b8","wires":[["f230fba4.0dcf08","2f98108d.d067f"]]},{"id":"60694632.9f96b8","type":"inject","name":"Interval","topic":"","payload":"","payloadType":"none","repeat":"300","crontab":"","once":false,"x":94.49993896484375,"y":118.11109924316406,"z":"f0aa4895.0f55b8","wires":[["ed5f946.f12a068"]]},{"id":"f230fba4.0dcf08","type":"function","name":"Split Temperature Data","func":"//parse forecast.io message\nvar msg2={}, msg3={}, msg4={}, msg5={};\n\nmsg2.payload = msg.payload.currently.temperature;\nmsg2.retain = true;\n\nmsg3.payload = msg.payload.currently.apparentTemperature;\nmsg3.retain = true;\n\nmsg4.payload = msg.payload.currently.summary;\nmsg4.retain = true;\n\nmsg5.payload = msg.payload.currently.icon;\nmsg5.retain = true;\n\nreturn [msg2, msg3, msg4, msg5];","outputs":"4","x":768.4443969726562,"y":116.99999618530273,"z":"f0aa4895.0f55b8","wires":[["1e266b1b.e1d995"],["f8c839de.0737c8"],["c42fd879.3bd028"],["a42cfa45.5bd308"]]},{"id":"b06b01a8.4f95","type":"change","action":"replace","property":"retain","from":"","to":"1","reg":false,"name":"Retain","x":842.7777862548828,"y":1385.888916015625,"z":"c518d72f.3ae728","wires":[["775ea6f1.88a158"]]},{"id":"996345b7.669cb8","type":"json","name":"JSON","x":318.2777862548828,"y":1384.888916015625,"z":"c518d72f.3ae728","wires":[["90378b9b.6fc878"]]},{"id":"480fa130.b7f06","type":"inject","name":"Start","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":107.77777099609375,"y":103.33333587646484,"z":"c4b388fe.3b4c78","wires":[["8ef86dfc.71079"]]},{"id":"8ef86dfc.71079","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270.0000190734863,"y":103.3333511352539,"z":"c4b388fe.3b4c78","wires":[["2da6644.fd2599c","5fd4a2b1.a02b5c"]]},{"id":"2da6644.fd2599c","type":"file in","name":"","filename":"./local_config.json","format":"utf8","x":465.55558013916016,"y":103.33333969116211,"z":"c4b388fe.3b4c78","wires":[["61c2fd60.9e3d04"]]},{"id":"61c2fd60.9e3d04","type":"function","name":"Parse File","func":"var data = JSON.parse(msg.payload);\n\ncontext.global.config = data;\n\nmsg.payload = context.global.config;\n\nreturn msg;","outputs":1,"x":651.111156463623,"y":103.33334541320801,"z":"c4b388fe.3b4c78","wires":[[]]},{"id":"ed5f946.f12a068","type":"function","name":"Read Config","func":"msg.config = new Object();\nmsg.config = context.global.config;\n\nreturn msg;","outputs":1,"x":244.49996185302734,"y":118.11110877990723,"z":"f0aa4895.0f55b8","wires":[["7ae354d5.851cac"]]},{"id":"eaf2a99f.150d58","type":"comment","name":"Set config variables at start","info":"","x":142.22222900390625,"y":53.33333206176758,"z":"c4b388fe.3b4c78","wires":[]},{"id":"3cc22221.c33dde","type":"comment","name":"API Keys and other local settings","info":"","x":507.7777404785156,"y":55.55555534362793,"z":"c4b388fe.3b4c78","wires":[]},{"id":"1504ef38.eafb11","type":"comment","name":"X10 Config and Variables","info":"","x":493.9999694824219,"y":201.8888397216797,"z":"c4b388fe.3b4c78","wires":[]},{"id":"5fd4a2b1.a02b5c","type":"function","name":"X10 Settings","func":"//X10 Settings\ncontext.global.x10Resend = 2;\n\nreturn msg;","outputs":1,"x":462,"y":247,"z":"c4b388fe.3b4c78","wires":[[]]},{"id":"2f98108d.d067f","type":"http request","name":"","method":"GET","url":"http://cubieboard:8080/input/3DBzAeoDBKUKwm86kovoCMKzmMA?private_key=4WwdzqPWw4UjK50MgRZRU4zD34d&temperature={{payload.currently.temperature}}&humidity={{payload.currently.humidity}}","x":761,"y":217,"z":"f0aa4895.0f55b8","wires":[[]]},{"id":"8b8d798e.747288","type":"function","name":"X10 Payload","func":"msg.payload = context.global.x10Resend;\nreturn msg;","outputs":1,"x":978,"y":285,"z":"c518d72f.3ae728","wires":[["7823f42a.87dc0c"]]},{"id":"7e0421b.f81fbe","type":"mqtt in","name":"","topic":"home/x10/status","broker":"87019d45.78fe6","x":107,"y":1042,"z":"c518d72f.3ae728","wires":[["9cc3fe13.633c","ab4f5786.54b0a8"]]},{"id":"1f8769fa.e07896","type":"mqtt in","name":"","topic":"home/gateway/mqttrf/memory/free","broker":"87019d45.78fe6","x":158,"y":439,"z":"c4b388fe.3b4c78","wires":[["6abbf0fd.95441"]]},{"id":"749164ed.8b6e9c","type":"mqtt out","name":"","topic":"home/gateway/mqttrf/memory/free/time","broker":"87019d45.78fe6","x":645,"y":439,"z":"c4b388fe.3b4c78","wires":[]},{"id":"6abbf0fd.95441","type":"function","name":"Timestamp","func":"msg.payload = Date.now();\nreturn msg;","outputs":1,"x":394,"y":439,"z":"c4b388fe.3b4c78","wires":[["749164ed.8b6e9c"]]},{"id":"6e5b60b3.91a4a","type":"comment","name":"Timestamp External Events","info":"","x":135,"y":394,"z":"c4b388fe.3b4c78","wires":[]},{"id":"2b3de15c.d4c21e","type":"mqtt in","name":"","topic":"home/pc/wakeup","broker":"87019d45.78fe6","x":100,"y":100,"z":"3e758930.c18a76","wires":[["9ab089a8.654f78"]]},{"id":"6be26548.941d9c","type":"comment","name":"HTPC Control","info":"","x":88,"y":53,"z":"3e758930.c18a76","wires":[]},{"id":"9ab089a8.654f78","type":"wake on lan","mac":"00:13:72:39:86:3F","name":"WOL HTPC","x":340,"y":100,"z":"3e758930.c18a76","wires":[]},{"id":"1b6538c1.e49ac7","type":"function","name":"X10 code to MQTT","func":"//Convert X10 message passed as topic into a JSON string, or vice-versa.\nvar x10Codes = context.global.x10Codes;\nvar codes = {};\n\n//X10 code to JSON\nif (typeof msg.x10 === 'object') {\n\tcodes.H = Number(x10Codes.house[msg.x10.house].hex);\n\tcodes.U = Number(x10Codes.unit[msg.x10.unit].hex);\n\tcodes.A = Number(x10Codes.action[msg.x10.action].hex);\n\tcodes.T = context.global.x10Resend;\n\n\tmsg.payload = JSON.stringify(codes);\n}\n\nreturn msg;","outputs":1,"x":639.1111297607422,"y":113,"z":"8ac42f0a.753bd","wires":[["8ff78c64.70087"]]},{"id":"e8d96205.1726a","type":"function","name":"MQTT Topic to X10","func":"var tokens = msg.topic.split(\"/\");\nvar s = 4;  //Where to start separating the topics\n\nmsg.x10 = new Object();\n\nmsg.x10.house = tokens[s];\nmsg.x10.unit = tokens[s+1];\nmsg.x10.action = tokens[s+2];\n\nreturn msg;","outputs":1,"x":411.9999694824219,"y":113,"z":"8ac42f0a.753bd","wires":[["1b6538c1.e49ac7"]]},{"id":"8ff78c64.70087","type":"mqtt out","name":"","topic":"home/x10/action","broker":"87019d45.78fe6","x":854.0000305175781,"y":112.88884353637695,"z":"8ac42f0a.753bd","wires":[]},{"id":"4e830c4f.b17cf4","type":"comment","name":"ACTION: Parse MQTT to X10","info":"","x":183.22219848632812,"y":61.9999942779541,"z":"8ac42f0a.753bd","wires":[]},{"id":"3cc7cb99.c33834","type":"function","name":"X10 code to JSON","func":"//Convert X10 message passed as topic into a JSON string, or vice-versa.\nvar x10Codes = context.global.x10Codes;\nvar codes = {};\n\n//JSON to X10 code\nif (typeof msg.x10 !== 'object') {\t\t\n\n\tcodes = JSON.parse(msg.payload);\n\tmsg.payload = codes;\n}\n\nreturn msg;","outputs":1,"x":365.6666564941406,"y":244.22222900390625,"z":"8ac42f0a.753bd","wires":[["ef76bc26.10894"]]},{"id":"885d33db.77a2d","type":"comment","name":"STATUS: X10 JSON to Topic","info":"","x":181.66665649414062,"y":190.66674613952637,"z":"8ac42f0a.753bd","wires":[]},{"id":"8c11caf6.73ee38","type":"mqtt out","name":"","topic":"","broker":"87019d45.78fe6","x":771.5556488037109,"y":245.11114501953125,"z":"8ac42f0a.753bd","wires":[]},{"id":"ef76bc26.10894","type":"function","name":"Return MQTT","func":"var x10Codes = context.global.x10Codes;\nvar x10Names = context.global.x10Names;\n\n//Map the received X10 code to the Internal name of lights and switches\t\nmsg.topic = \"home/light/\" + context.global.x10[x10Names.house[msg.payload.H].id][x10Names.unit[msg.payload.U].id] + \"/status\";\nmsg.payload = x10Names.action[msg.payload.A].id.toLowerCase();\nmsg.retain = true;\n\t\nreturn msg;","outputs":1,"x":573.9999847412109,"y":244,"z":"8ac42f0a.753bd","wires":[["8c11caf6.73ee38"]]},{"id":"9cc3fe13.633c","type":"switch","name":"Switch","property":"payload","rules":[{"t":"cont","v":"L/UNIT_3/ON"},{"t":"cont","v":"L/UNIT_3/OFF"},{"t":"cont","v":"L/UNIT_4/ON"},{"t":"cont","v":"L/UNIT_4/OFF"}],"checkall":"false","outputs":4,"x":315,"y":1042,"z":"c518d72f.3ae728","wires":[["9a436fd.f65bc9"],["5f1afb6b.a0e504"],["975412e1.68abf"],["b1d4a067.4e2b6"]]},{"id":"bda74fed.4258b","type":"comment","name":"STATUS: X10 to Light","info":"","x":122,"y":990,"z":"c518d72f.3ae728","wires":[]},{"id":"d05d63de.2fa2a","type":"mqtt out","name":"","topic":"home/light/3/status","broker":"87019d45.78fe6","x":891,"y":953,"z":"c518d72f.3ae728","wires":[]},{"id":"d70c348f.28f3c8","type":"change","action":"replace","property":"retain","from":"","to":"1","reg":false,"name":"Retain","x":717.5,"y":953,"z":"c518d72f.3ae728","wires":[["d05d63de.2fa2a"]]},{"id":"9a436fd.f65bc9","type":"change","action":"replace","property":"payload","from":"","to":"on","reg":false,"name":"ON","x":551,"y":934,"z":"c518d72f.3ae728","wires":[["d70c348f.28f3c8"]]},{"id":"5f1afb6b.a0e504","type":"change","action":"replace","property":"payload","from":"","to":"off","reg":false,"name":"OFF","x":549,"y":985,"z":"c518d72f.3ae728","wires":[["d70c348f.28f3c8"]]},{"id":"418a6de7.be7594","type":"mqtt out","name":"","topic":"home/light/4/status","broker":"87019d45.78fe6","x":895,"y":1129,"z":"c518d72f.3ae728","wires":[]},{"id":"35ce9192.ca316e","type":"change","action":"replace","property":"retain","from":"","to":"1","reg":false,"name":"Retain","x":716.5,"y":1129,"z":"c518d72f.3ae728","wires":[["418a6de7.be7594"]]},{"id":"975412e1.68abf","type":"change","action":"replace","property":"payload","from":"","to":"on","reg":false,"name":"ON","x":557,"y":1106,"z":"c518d72f.3ae728","wires":[["35ce9192.ca316e"]]},{"id":"b1d4a067.4e2b6","type":"change","action":"replace","property":"payload","from":"","to":"off","reg":false,"name":"OFF","x":560,"y":1156,"z":"c518d72f.3ae728","wires":[["35ce9192.ca316e"]]},{"id":"5785c4e5.a87a3c","type":"change","action":"replace","property":"topic","from":"","to":"home/x10/action/L/UNIT_4/ON","reg":false,"name":"ON","x":763,"y":324,"z":"c518d72f.3ae728","wires":[["8b8d798e.747288"]]},{"id":"3dfaec68.c20514","type":"change","action":"replace","property":"topic","from":"","to":"home/x10/action/L/UNIT_4/OFF","reg":false,"name":"OFF","x":764,"y":371,"z":"c518d72f.3ae728","wires":[["8b8d798e.747288"]]},{"id":"ea21e5b9.15de18","type":"switch","name":"Light 4 - X10 L/4","property":"topic","rules":[{"t":"cont","v":"/action/on"},{"t":"cont","v":"/action/off"}],"checkall":"false","outputs":2,"x":584,"y":349,"z":"c518d72f.3ae728","wires":[["5785c4e5.a87a3c"],["3dfaec68.c20514"]]},{"id":"330fd832.ccf028","type":"mqtt in","name":"","topic":"home/light/all/action/#","broker":"87019d45.78fe6","x":112,"y":574,"z":"c518d72f.3ae728","wires":[["1bfa59da.e405a6"]]},{"id":"c44340d8.3bbcc","type":"change","action":"replace","property":"topic","from":"","to":"home/x10/action/L/UNIT_1/ALL_LIGHTS_ON","reg":false,"name":"ON","x":724,"y":633,"z":"c518d72f.3ae728","wires":[["61baafdc.9e455"]]},{"id":"9f928d.ff606d7","type":"change","action":"replace","property":"topic","from":"","to":"home/x10/action/L/UNIT_1/ALL_LIGHTS_OFF","reg":false,"name":"OFF","x":727,"y":687,"z":"c518d72f.3ae728","wires":[["61baafdc.9e455"]]},{"id":"8bf89069.74077","type":"switch","name":"All X10 Lights","property":"topic","rules":[{"t":"cont","v":"/action/on"},{"t":"cont","v":"/action/off"}],"checkall":"false","outputs":2,"x":554,"y":660,"z":"c518d72f.3ae728","wires":[["c44340d8.3bbcc"],["9f928d.ff606d7"]]},{"id":"61aac392.9e553c","type":"mqtt out","name":"","topic":"","broker":"87019d45.78fe6","x":1056,"y":655,"z":"c518d72f.3ae728","wires":[]},{"id":"61baafdc.9e455","type":"function","name":"X10 Payload","func":"msg.payload = context.global.x10Resend;\nreturn msg;","outputs":1,"x":908,"y":655,"z":"c518d72f.3ae728","wires":[["61aac392.9e553c"]]},{"id":"b8b54f8e.474ab","type":"comment","name":"L/UNIT_3","info":"","x":554,"y":883,"z":"c518d72f.3ae728","wires":[]},{"id":"59d4ffa2.a62b","type":"comment","name":"L/UNIT_4","info":"","x":560,"y":1059,"z":"c518d72f.3ae728","wires":[]},{"id":"ac68ee92.53971","type":"udp out","name":"Send UDP","addr":"192.168.0.20","iface":"","port":"666","outport":"","base64":false,"multicast":"false","x":865,"y":647,"z":"c4b388fe.3b4c78","wires":[]},{"id":"49b011ea.b64ff","type":"change","action":"replace","property":"payload","from":"","to":"K","reg":false,"name":"Reset MQTTRF","x":692,"y":647,"z":"c4b388fe.3b4c78","wires":[["ac68ee92.53971"]]},{"id":"ab4f5786.54b0a8","type":"switch","name":"Switch","property":"payload","rules":[{"t":"cont","v":"L/UNIT_1/ALL_LIGHTS_ON"},{"t":"cont","v":"L/UNIT_1/ALL_LIGHTS_OFF"}],"checkall":"false","outputs":2,"x":318,"y":1186,"z":"c518d72f.3ae728","wires":[["9a436fd.f65bc9","975412e1.68abf"],["5f1afb6b.a0e504","b1d4a067.4e2b6"]]},{"id":"141a64c6.ebe59b","type":"comment","name":"All lights","info":"","x":320,"y":1141,"z":"c518d72f.3ae728","wires":[]},{"id":"7149f203.8eb60c","type":"inject","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":99,"y":647,"z":"c4b388fe.3b4c78","wires":[["6c766d49.938994"]]},{"id":"6c766d49.938994","type":"function","name":"Uptime","func":"msg.payload = context.global.osModule.uptime();\nreturn msg;","outputs":1,"x":236,"y":647,"z":"c4b388fe.3b4c78","wires":[["109b10c.fef64ef"]]},{"id":"109b10c.fef64ef","type":"switch","name":"System up less then 300s","property":"payload","rules":[{"t":"lte","v":300,"v2":null}],"checkall":"true","outputs":1,"x":433,"y":647,"z":"c4b388fe.3b4c78","wires":[["49b011ea.b64ff","cdffa60.f320058"]]},{"id":"7ddf6ece.82209","type":"comment","name":"Events to fire on system startup","info":"","x":145,"y":600,"z":"c4b388fe.3b4c78","wires":[]},{"id":"8dd2db09.722d28","type":"mqtt out","name":"","topic":"home/cubieboard","broker":"87019d45.78fe6","x":1029,"y":731,"z":"c4b388fe.3b4c78","wires":[]},{"id":"cdffa60.f320058","type":"change","action":"replace","property":"payload","from":"","to":"online","reg":false,"name":"Cubieboard online","x":701,"y":731,"z":"c4b388fe.3b4c78","wires":[["e10a2cee.1ef5d"]]},{"id":"e10a2cee.1ef5d","type":"change","action":"replace","property":"retain","from":"","to":"1","reg":false,"name":"retain","x":862,"y":731,"z":"c4b388fe.3b4c78","wires":[["8dd2db09.722d28"]]},{"id":"e60dadb.f19f25","type":"comment","name":"Logging stats for Cubieboard","info":"","x":138,"y":893,"z":"c4b388fe.3b4c78","wires":[]},{"id":"511f0d2b.aee0f4","type":"function","name":"Timestamp","func":"msg.payload = Date.now();\nreturn msg;","outputs":1,"x":488,"y":1021,"z":"c4b388fe.3b4c78","wires":[["703473e5.8fcb8c"]]},{"id":"59c11218.a63eec","type":"inject","name":"Every 15min","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":117,"y":947,"z":"c4b388fe.3b4c78","wires":[["9fbff346.60401","5adb46d.fa524b8"]]},{"id":"9fbff346.60401","type":"function","name":"Freemem","func":"msg.payload = context.global.osModule.freemem();\nmsg.retain = true;\n\nreturn msg;","outputs":1,"x":290,"y":947,"z":"c4b388fe.3b4c78","wires":[["996531ea.669ad","511f0d2b.aee0f4"]]},{"id":"996531ea.669ad","type":"mqtt out","name":"","topic":"home/cubieboard/memory/free","broker":"87019d45.78fe6","x":545,"y":947,"z":"c4b388fe.3b4c78","wires":[]},{"id":"703473e5.8fcb8c","type":"mqtt out","name":"","topic":"home/cubieboard/memory/free/time","broker":"87019d45.78fe6","x":723,"y":1021,"z":"c4b388fe.3b4c78","wires":[]},{"id":"5adb46d.fa524b8","type":"function","name":"LoadAvg","func":"var loadavg = context.global.osModule.loadavg();\nload = new Object();\n\nload.one = loadavg[0];\nload.five = loadavg[1];\nload.fifteen = loadavg[2];\n\nmsg.payload = load;\nmsg.retain = true;\n\nreturn msg;","outputs":1,"x":294,"y":1111,"z":"c4b388fe.3b4c78","wires":[["731bd191.8ce43"]]},{"id":"731bd191.8ce43","type":"json","name":"","x":432,"y":1110,"z":"c4b388fe.3b4c78","wires":[["6cce000f.9332","2676003f.d98a"]]},{"id":"2676003f.d98a","type":"function","name":"Timestamp","func":"msg.payload = Date.now();\nreturn msg;","outputs":1,"x":613,"y":1197,"z":"c4b388fe.3b4c78","wires":[["66c7764b.993888"]]},{"id":"6cce000f.9332","type":"mqtt out","name":"","topic":"home/cubieboard/load","broker":"87019d45.78fe6","x":639,"y":1112,"z":"c4b388fe.3b4c78","wires":[]},{"id":"66c7764b.993888","type":"mqtt out","name":"","topic":"home/cubieboard/load/time","broker":"87019d45.78fe6","x":825,"y":1197,"z":"c4b388fe.3b4c78","wires":[]}]