Node-RED/flows_cubieboard.json
[{"type":"tab","id":"c518d72f.3ae728","label":"Home"},{"type":"tab","id":"f0aa4895.0f55b8","label":"Weather"},{"type":"tab","id":"c4b388fe.3b4c78","label":"Config"},{"id":"87019d45.78fe6","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"Cubieboard"},{"id":"9d1c929a.62e37","type":"mqtt in","name":"","topic":"home/pc/wakeup","broker":"87019d45.78fe6","x":114.22222900390625,"y":1131.111171722412,"z":"c518d72f.3ae728","wires":[["4863d89c.b79c28"]]},{"id":"28142893.d7ebd8","type":"comment","name":"PC Control","info":"","x":92.22222900390625,"y":1081.111171722412,"z":"c518d72f.3ae728","wires":[]},{"id":"b3865eae.4c79a","type":"function","name":"X10 code to MQTT","func":"//Convert X10 message passed as topic into a JSON string, or vice-versa.\nvar x10Codes = context.global.x10Codes;\nvar codes = {};\n\n//X10 code to JSON\nif (typeof msg.x10 === 'object') {\n\tcodes.H = Number(x10Codes.house[msg.x10.house].hex);\n\tcodes.U = Number(x10Codes.unit[msg.x10.unit].hex);\n\tcodes.A = Number(x10Codes.action[msg.x10.action].hex);\n\tcodes.T = context.global.x10Resend;\n\n\tmsg.payload = JSON.stringify(codes);\n}\n\nreturn msg;","outputs":1,"x":598.1111450195312,"y":571,"z":"c518d72f.3ae728","wires":[["2c3ce5d5.d3c31a"]]},{"id":"20c0c1dd.df3f3e","type":"mqtt in","name":"","topic":"home/x10/action/raw/#","broker":"87019d45.78fe6","x":120,"y":571,"z":"c518d72f.3ae728","wires":[["6ab73816.9548c8"]]},{"id":"6ab73816.9548c8","type":"function","name":"MQTT Topic to X10","func":"var tokens = msg.topic.split(\"/\");\nvar s = 4;  //Where to start separating the topics\n\nmsg.x10 = new Object();\n\nmsg.x10.house = tokens[s];\nmsg.x10.unit = tokens[s+1];\nmsg.x10.action = tokens[s+2];\n\nreturn msg;","outputs":1,"x":371,"y":571,"z":"c518d72f.3ae728","wires":[["b3865eae.4c79a"]]},{"id":"2c3ce5d5.d3c31a","type":"mqtt out","name":"","topic":"home/x10/action","broker":"87019d45.78fe6","x":813.0000457763672,"y":570.888843536377,"z":"c518d72f.3ae728","wires":[]},{"id":"a0a188c8.5f5e78","type":"comment","name":"ACTION: Parse MQTT to X10","info":"","x":142.2222137451172,"y":519.9999942779541,"z":"c518d72f.3ae728","wires":[]},{"id":"28753fbd.d78ac","type":"function","name":"X10 code to JSON","func":"//Convert X10 message passed as topic into a JSON string, or vice-versa.\nvar x10Codes = context.global.x10Codes;\nvar codes = {};\n\n//JSON to X10 code\nif (typeof msg.x10 !== 'object') {\t\t\n\n\tcodes = JSON.parse(msg.payload);\n\tmsg.payload = codes;\n}\n\nreturn msg;","outputs":1,"x":325.66668701171875,"y":702.2222290039062,"z":"c518d72f.3ae728","wires":[["f4d27bea.0b2d88"]]},{"id":"cd72d9b5.328d28","type":"mqtt in","name":"","topic":"home/x10/status/raw","broker":"87019d45.78fe6","x":116.00001525878906,"y":702.3333539962769,"z":"c518d72f.3ae728","wires":[["28753fbd.d78ac"]]},{"id":"8161558b.7e9ea8","type":"comment","name":"Light 2 - RF","info":"","x":619,"y":35,"z":"c518d72f.3ae728","wires":[]},{"id":"83e300e8.7c1d","type":"mqtt out","name":"","topic":"home/rfswitch/action","broker":"87019d45.78fe6","x":1001.5555648803711,"y":81.88888740539551,"z":"c518d72f.3ae728","wires":[]},{"id":"a548ea4d.5ab718","type":"change","action":"replace","property":"payload","from":"","to":"{\"D\":1393741,\"B\":24}","reg":false,"name":"ON","x":804,"y":60,"z":"c518d72f.3ae728","wires":[["83e300e8.7c1d"]]},{"id":"74a9a651.8b5658","type":"change","action":"replace","property":"payload","from":"","to":"{\"D\":1393777,\"B\":24}","reg":false,"name":"OFF","x":805,"y":114,"z":"c518d72f.3ae728","wires":[["83e300e8.7c1d"]]},{"id":"291c1898.d6e3e8","type":"switch","name":"Action Switch","property":"topic","rules":[{"t":"cont","v":"/action/on"},{"t":"cont","v":"/action/off"}],"checkall":"false","outputs":2,"x":621,"y":84,"z":"c518d72f.3ae728","wires":[["a548ea4d.5ab718"],["74a9a651.8b5658"]]},{"id":"7823f42a.87dc0c","type":"mqtt out","name":"","topic":"","broker":"87019d45.78fe6","x":953,"y":225,"z":"c518d72f.3ae728","wires":[]},{"id":"45b9d319.ba462c","type":"change","action":"replace","property":"topic","from":"","to":"home/x10/action/raw/L/UNIT_5/ON","reg":false,"name":"ON","x":792,"y":201,"z":"c518d72f.3ae728","wires":[["7823f42a.87dc0c"]]},{"id":"db982efc.2467d","type":"change","action":"replace","property":"topic","from":"","to":"home/x10/action/raw/L/UNIT_5/OFF","reg":false,"name":"OFF","x":792,"y":251,"z":"c518d72f.3ae728","wires":[["7823f42a.87dc0c"]]},{"id":"70087c71.8ff784","type":"switch","name":"Action Switch","property":"topic","rules":[{"t":"cont","v":"/action/on"},{"t":"cont","v":"/action/off"}],"checkall":"false","outputs":2,"x":628,"y":228,"z":"c518d72f.3ae728","wires":[["45b9d319.ba462c"],["db982efc.2467d"]]},{"id":"6e3e139c.91c1ec","type":"comment","name":"Light 5 - X10","info":"","x":622,"y":179,"z":"c518d72f.3ae728","wires":[]},{"id":"1e266b1b.e1d995","type":"mqtt out","name":"","topic":"weather/home/currently/temperature","broker":"87019d45.78fe6","x":1088.9443969726562,"y":56.999996185302734,"z":"f0aa4895.0f55b8","wires":[]},{"id":"f8c839de.0737c8","type":"mqtt out","name":"","topic":"weather/home/currently/apparenttemperature","broker":"87019d45.78fe6","x":1116.4443969726562,"y":96.99999618530273,"z":"f0aa4895.0f55b8","wires":[]},{"id":"c42fd879.3bd028","type":"mqtt out","name":"","topic":"weather/home/currently/summary","broker":"87019d45.78fe6","x":1079.9443969726562,"y":136.99999618530273,"z":"f0aa4895.0f55b8","wires":[]},{"id":"a42cfa45.5bd308","type":"mqtt out","name":"","topic":"weather/home/currently/icon","broker":"87019d45.78fe6","x":1063.9443969726562,"y":176.99999618530273,"z":"f0aa4895.0f55b8","wires":[]},{"id":"9f5ff069.60a01","type":"comment","name":"Get weather at 5 minute intervals. Send as MQTT messages","info":"","x":236,"y":43,"z":"f0aa4895.0f55b8","wires":[]},{"id":"e9c5383e.163ac8","type":"mqtt in","name":"","topic":"home/light/+/action/#","broker":"87019d45.78fe6","x":107,"y":98,"z":"c518d72f.3ae728","wires":[["2a22755e.d5dd8a"]]},{"id":"2a22755e.d5dd8a","type":"switch","name":"Light ID","property":"topic","rules":[{"t":"cont","v":"home/light/2"},{"t":"cont","v":"home/light/5"},{"t":"cont","v":"home/light/all"}],"checkall":"false","outputs":3,"x":272,"y":98,"z":"c518d72f.3ae728","wires":[["291c1898.d6e3e8"],["70087c71.8ff784"],["1bfa59da.e405a6"]]},{"id":"8beb1660.7414e8","type":"comment","name":"ACTION: Main Light Control","info":"","x":125.88888549804688,"y":46.11111259460449,"z":"c518d72f.3ae728","wires":[]},{"id":"ff265921.00d9a8","type":"switch","name":"Action Switch","property":"topic","rules":[{"t":"cont","v":"/action/on"},{"t":"cont","v":"/action/off"}],"checkall":"false","outputs":2,"x":622,"y":413,"z":"c518d72f.3ae728","wires":[["72c57442.8d3a8c"],["2690ea45.d96f16"]]},{"id":"49cd5049.b632b","type":"comment","name":"ALL Lights","info":"","x":427,"y":300,"z":"c518d72f.3ae728","wires":[]},{"id":"72c57442.8d3a8c","type":"change","action":"replace","property":"payload","from":"","to":"1","reg":false,"name":"ON","x":798,"y":384,"z":"c518d72f.3ae728","wires":[["59511f63.a6aee"]]},{"id":"2690ea45.d96f16","type":"change","action":"replace","property":"payload","from":"","to":"1","reg":false,"name":"OFF","x":798,"y":441,"z":"c518d72f.3ae728","wires":[["82f3025d.7d0d"]]},{"id":"59511f63.a6aee","type":"mqtt out","name":"","topic":"home/light/1/action/on","broker":"87019d45.78fe6","x":985,"y":384,"z":"c518d72f.3ae728","wires":[]},{"id":"82f3025d.7d0d","type":"mqtt out","name":"","topic":"home/light/1/action/off","broker":"87019d45.78fe6","x":986,"y":440,"z":"c518d72f.3ae728","wires":[]},{"id":"1bfa59da.e405a6","type":"delay","name":"Passthru","pauseType":"rate","timeout":"1","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":430,"y":341,"z":"c518d72f.3ae728","wires":[["291c1898.d6e3e8","70087c71.8ff784","ff265921.00d9a8"]]},{"id":"3d7752ae.c288ae","type":"comment","name":"STATUS: RF JSON to Topic","info":"","x":141.66667938232422,"y":888.5555839538574,"z":"c518d72f.3ae728","wires":[]},{"id":"538f1193.ac70f","type":"mqtt in","name":"","topic":"home/rfswitch/status/raw","broker":"87019d45.78fe6","x":132.2777862548828,"y":941.888916015625,"z":"c518d72f.3ae728","wires":[["996345b7.669cb8"]]},{"id":"775ea6f1.88a158","type":"mqtt out","name":"","topic":"home/light/2/status","broker":"87019d45.78fe6","x":1014.2777862548828,"y":943.888916015625,"z":"c518d72f.3ae728","wires":[]},{"id":"90378b9b.6fc878","type":"switch","name":"RF Action Switch","property":"payload.D","rules":[{"t":"eq","v":1393741,"v2":0},{"t":"eq","v":1393777,"v2":0}],"checkall":"false","outputs":2,"x":492.2777862548828,"y":941.888916015625,"z":"c518d72f.3ae728","wires":[["2ec7de8.fd13822"],["b7a272e8.485d9"]]},{"id":"2ec7de8.fd13822","type":"change","action":"replace","property":"payload","from":"","to":"on","reg":false,"name":"ON","x":697.2777862548828,"y":915.888916015625,"z":"c518d72f.3ae728","wires":[["b06b01a8.4f95"]]},{"id":"b7a272e8.485d9","type":"change","action":"replace","property":"payload","from":"","to":"off","reg":false,"name":"OFF","x":696.2777862548828,"y":971.888916015625,"z":"c518d72f.3ae728","wires":[["b06b01a8.4f95"]]},{"id":"c7255baf.38daa8","type":"comment","name":"STATUS: X10 JSON to Topic","info":"","x":140.6666717529297,"y":648.6667461395264,"z":"c518d72f.3ae728","wires":[]},{"id":"dc998dc0.23667","type":"mqtt out","name":"","topic":"","broker":"87019d45.78fe6","x":730.5556640625,"y":703.1111450195312,"z":"c518d72f.3ae728","wires":[]},{"id":"3c7f5778.c380a8","type":"comment","name":"Light 1 - Custom","info":"","x":820.4444274902344,"y":339.11111068725586,"z":"c518d72f.3ae728","wires":[]},{"id":"4863d89c.b79c28","type":"wake on lan","mac":"00:13:72:39:86:3F","name":"WOL HTPC","x":369.22222900390625,"y":1132.111171722412,"z":"c518d72f.3ae728","wires":[]},{"id":"7ae354d5.851cac","type":"http request","name":"GET Weather","method":"GET","url":"https://api.forecast.io/forecast/{{config.forecastIO_key}}/{{config.forecastIO_location}}","x":418.9443664550781,"y":116.99999237060547,"z":"f0aa4895.0f55b8","wires":[["61afbf66.9e504"]]},{"id":"61afbf66.9e504","type":"json","name":"JSON","x":583,"y":117,"z":"f0aa4895.0f55b8","wires":[["f230fba4.0dcf08","2f98108d.d067f"]]},{"id":"60694632.9f96b8","type":"inject","name":"Interval","topic":"","payload":"","payloadType":"none","repeat":"300","crontab":"","once":false,"x":94.49993896484375,"y":118.11109924316406,"z":"f0aa4895.0f55b8","wires":[["ed5f946.f12a068"]]},{"id":"f230fba4.0dcf08","type":"function","name":"Split Temperature Data","func":"//parse forecast.io message\nvar msg2={}, msg3={}, msg4={}, msg5={};\n\nmsg2.payload = msg.payload.currently.temperature;\nmsg2.retain = true;\n\nmsg3.payload = msg.payload.currently.apparentTemperature;\nmsg3.retain = true;\n\nmsg4.payload = msg.payload.currently.summary;\nmsg4.retain = true;\n\nmsg5.payload = msg.payload.currently.icon;\nmsg5.retain = true;\n\nreturn [msg2, msg3, msg4, msg5];","outputs":"4","x":768.4443969726562,"y":116.99999618530273,"z":"f0aa4895.0f55b8","wires":[["1e266b1b.e1d995"],["f8c839de.0737c8"],["c42fd879.3bd028"],["a42cfa45.5bd308"]]},{"id":"b06b01a8.4f95","type":"change","action":"replace","property":"retain","from":"","to":"1","reg":false,"name":"Retain","x":844.7777862548828,"y":942.888916015625,"z":"c518d72f.3ae728","wires":[["775ea6f1.88a158"]]},{"id":"996345b7.669cb8","type":"json","name":"JSON","x":320.2777862548828,"y":941.888916015625,"z":"c518d72f.3ae728","wires":[["90378b9b.6fc878"]]},{"id":"480fa130.b7f06","type":"inject","name":"Start","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":107.77777057223852,"y":103.33333905537923,"z":"c4b388fe.3b4c78","wires":[["8ef86dfc.71079"]]},{"id":"8ef86dfc.71079","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270.0000190734863,"y":103.3333511352539,"z":"c4b388fe.3b4c78","wires":[["2da6644.fd2599c","59e63894.a619c8"]]},{"id":"2da6644.fd2599c","type":"file in","name":"","filename":"./local_config.json","format":"utf8","x":465.55558013916016,"y":103.33333969116211,"z":"c4b388fe.3b4c78","wires":[["61c2fd60.9e3d04"]]},{"id":"61c2fd60.9e3d04","type":"function","name":"Parse File","func":"var data = JSON.parse(msg.payload);\n\ncontext.global.config = data;\n\nmsg.payload = context.global.config;\n\nreturn msg;","outputs":1,"x":651.111156463623,"y":103.33334541320801,"z":"c4b388fe.3b4c78","wires":[[]]},{"id":"ed5f946.f12a068","type":"function","name":"Read Config","func":"msg.config = new Object();\nmsg.config = context.global.config;\n\nreturn msg;","outputs":1,"x":244.49996185302734,"y":118.11110877990723,"z":"f0aa4895.0f55b8","wires":[["7ae354d5.851cac"]]},{"id":"59e63894.a619c8","type":"function","name":"Define X10 Mappings","func":"//Mapping of X10 Units/Houses\ncontext.global.x10 = new Object();\n\nvar lights = {\n\t\t\t\"UNIT_5\": \"5\",\n\t\t\t\"UNIT_1\": \"5\"\t\t\t\n\t\t\t};\n\ncontext.global.x10.L = lights;\n\nreturn msg;","outputs":1,"x":487.33331298828125,"y":255.8888702392578,"z":"c4b388fe.3b4c78","wires":[["5fd4a2b1.a02b5c"]]},{"id":"eaf2a99f.150d58","type":"comment","name":"Set config variables at start","info":"","x":142.22222900390625,"y":53.33333206176758,"z":"c4b388fe.3b4c78","wires":[]},{"id":"3cc22221.c33dde","type":"comment","name":"API Keys and other local settings","info":"","x":507.7777404785156,"y":55.55555534362793,"z":"c4b388fe.3b4c78","wires":[]},{"id":"1504ef38.eafb11","type":"comment","name":"X10 Config and Variables","info":"","x":493.9999694824219,"y":201.8888397216797,"z":"c4b388fe.3b4c78","wires":[]},{"id":"f4d27bea.0b2d88","type":"function","name":"Return MQTT","func":"var x10Codes = context.global.x10Codes;\nvar x10Names = context.global.x10Names;\n\n//Map the received X10 code to the Internal name of lights and switches\t\nmsg.topic = \"home/light/\" + context.global.x10[x10Names.house[msg.payload.H].id][x10Names.unit[msg.payload.U].id] + \"/status\";\nmsg.payload = x10Names.action[msg.payload.A].id.toLowerCase();\nmsg.retain = true;\n\t\nreturn msg;","outputs":1,"x":533,"y":702,"z":"c518d72f.3ae728","wires":[["dc998dc0.23667"]]},{"id":"5fd4a2b1.a02b5c","type":"function","name":"Create X10 Tables","func":"//Convert X10 message passed as topic into a JSON string, or vice-versa.\ncontext.global.x10Codes = {\"house\":{\"A\":{\"hex\":6},\"B\":{\"hex\":14},\"C\":{\"hex\":2},\"D\":{\"hex\":10},\"E\":{\"hex\":1},\"F\":{\"hex\":9},\"G\":{\"hex\":5},\"H\":{\"hex\":13},\"I\":{\"hex\":7},\"J\":{\"hex\":15},\"K\":{\"hex\":3},\"L\":{\"hex\":11},\"M\":{\"hex\":0},\"N\":{\"hex\":8},\"O\":{\"hex\":4},\"P\":{\"hex\":12}},\"unit\":{\"UNIT_1\":{\"hex\":12},\"UNIT_2\":{\"hex\":28},\"UNIT_3\":{\"hex\":4},\"UNIT_4\":{\"hex\":20},\"UNIT_5\":{\"hex\":2},\"UNIT_6\":{\"hex\":18},\"UNIT_7\":{\"hex\":10},\"UNIT_8\":{\"hex\":26},\"UNIT_9\":{\"hex\":14},\"UNIT_10\":{\"hex\":30},\"UNIT_11\":{\"hex\":6},\"UNIT_12\":{\"hex\":22},\"UNIT_13\":{\"hex\":0},\"UNIT_14\":{\"hex\":16},\"UNIT_15\":{\"hex\":8},\"UNIT_16\":{\"hex\":24}},\"action\":{\"ALL_UNITS_OFF\":{\"hex\":1},\"ALL_LIGHTS_ON\":{\"hex\":3},\"ON\":{\"hex\":5},\"OFF\":{\"hex\":7},\"DIM\":{\"hex\":9},\"BRIGHT\":{\"hex\":11},\"ALL_LIGHTS_OFF\":{\"hex\":13},\"EXTENDED_CODE\":{\"hex\":15},\"HAIL_REQUEST\":{\"hex\":17},\"HAIL_ACKNOWLEDGE\":{\"hex\":19},\"PRE_SET_DIM\":{\"hex\":21},\"EXTENDED_DATA\":{\"hex\":25},\"STATUS_ON\":{\"hex\":27},\"STATUS_OFF\":{\"hex\":29},\"STATUS_REQUEST\":{\"hex\":31}}};\ncontext.global.x10Resend = 2;\n\n//Create a reverse version of the x10Codes table\n//Where the HEX maps to an X10 String (A, UNIT_1, ON, etc)\nvar x10Codes = context.global.x10Codes;\nvar x10Names = new Object();\n\nfor (var key in x10Codes) {\n   var obj = x10Codes[key];\n\n\tx10Names[key] = new Object();\n\n   for (var prop in obj) {\n      if(obj.hasOwnProperty(prop)){\n       \tx10Names[key][obj[prop].hex] = new Object();       \t\n       \tx10Names[key][obj[prop].hex].id = prop;\n      }\n   }\n}\n\ncontext.global.x10Names = x10Names;\n\nreturn msg;","outputs":1,"x":710,"y":256,"z":"c4b388fe.3b4c78","wires":[[]]},{"id":"2f98108d.d067f","type":"http request","name":"","method":"GET","url":"http://cubieboard:8080/input/1Qy3e9b9YLtAy4arYVl4s4OM6w8?private_key=aa02gpypKdiwNld0RmrliABNKwE&temp={{payload.currently.temperature}}&humidity={{payload.currently.humidity}}&time=0","x":761,"y":217,"z":"f0aa4895.0f55b8","wires":[[]]}]